* {
	margin: 0;
	padding: 0;
}
 
#container {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
}

/*Text Sections*/
.section {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
}
 
.section h1 {
	font: 55px/65px Helvetica, sans-serif;
	color: white;
}

#section1 {
	background:url("workspace.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#section2 {
    background: linear-gradient(to right, #6fcbf3 0%, #2D86AD 100%);
}

#content {
	position: absolute;
	margin:200px;
}
 
.section p {
	font: 15px/25px Helvetica, sans-serif;
}

#headercontainer{
	background: #444;
}

#nav {
	font: 12px/30px Helvetica, sans-serif;
	text-align: center;
}
 
#nav a {
	background: #444;
	color: #fff;
	margin-right: 30px;
	width: inherit;
	height: inherit;    
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
}
 
#nav a:hover {
	background: #6fcbf3;
}
#add-comment {
	width: 74%;
	margin-left: inherit;
}

#postcontainer {
	border: 5px;
	width: 70vw;
	height: auto;
	margin: 70px;
}

.vacancies {
	font: Helvetica, sans-serif;
    width: 80%;
    margin: 1rem;
    padding: 2rem;
    background: linear-gradient(120deg, #fdfbfb 0%, #DEE6EA 100%);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments {
	font: Helvetica, sans-serif;
	width: 74%;
	margin: 1rem;
	padding: 2rem;
	background: linear-gradient(120deg, #fdfbfb 0%, #CBD3D7 100%);
	border-radius: 2rem;
	display: flex;
	flex-direction: row;
	margin-left: inherit;
}