{% extends "fitur1/layout/base.html" %}
{%load staticfiles%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Home</title>
        <script type="text/javascript" src="//platform.linkedin.com/in.js">
          api_key: 77hncv61m96quy
          authorize: false
          onLoad: onLinkedInLoad
          scope: r_basicprofile r_emailaddress rw_company_admin
        </script>
</head>

<body>
    <div id="container">	
        <div id="section1" class="section">
            <div id="content">
                <h1>Headline One</h1>
                <p>Lorem ipsum dolor sit amet...</p>
                <script type="in/Login"></script>
                <script src="{% static 'js/login.js' %}"></script>   
            </div> 
        </div>
        
        <div id="section2" class="section">
            <h1>Headline Two</h1>
            <p>Lorem ipsum dolor sit amet...</p>
            <div id="postcontainer">
                <div class=vacancies>
                    <p>ini lowongan</p>
                </div>
                {% if komentar %}
                    {% for komen in komentar %}
                    <div class=comments>
                        <p>{{ komen.komentar }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class=comments>
                        <p>ini comment</p>
                    </div>
                {% endif %}
                <form id="add-comment" action="#">
                        {% csrf_token %}
                        <label for="field_nama">Nama</label>
                        <input id="field_nama" type="text" name="nama" class="form-control"/>
                        <label for="field_comment">Tanggapan</label>
                        <input id="field_comment" type="text" name="komentar" class="form-control"/>
                        <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var addComment = function(nama, komentar) {
        $.ajax({
            method: "POST",
            url: "{% url 'fitur1:add-comment' %}",
            data: { nama: nama, komentar: komentar},
            success : function (komen) {
                var sesuatu = $.parseJSON(komen)
                console.log(sesuatu)
                html = '<div class=comments> <p>' + 
                        sesuatu.komentar + '</p> </div>'
                $("#postcontainer").append(html)
            },
            error : function (error) {
                alert(error.responseText)
            }
        });
    };

    $("#add-comment").on("submit", function () {
       nama = $("#field_nama").val()
       komentar = $("#field_comment").val()
        addComment(nama, komentar)
        event.preventDefault();
    });
</script>
</html>
{% endblock %}