<!-- templates/lab_5/partials/header.html -->
<nav id=headercontainer class="navbar navbar-default navbar-fixed-top">
        <div  class="container">
          <div id =nav class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#section1">Home</a>
            <a class="navbar-brand" href="#section2">Recent Vacancies</a>
          </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
      