.head{
    text-align: center;
}
 img {
    padding-top: 30px;
    display: block;
    margin: auto;
    width: 20%;
    border-radius: 50%;

}
.buttonPlacement{
    text-align: center;
    padding-top: 30px;
    margin: auto;
    padding-bottom: 30px;
}

#info{
    text-align: left;
    padding-left: 40px;
    width: 80%;
    margin: auto;
    transition: all .2s ease-in-out;
}

#info:hover{
    transform: scale(1.1);
}

body{
    background-color: rgb(59, 170, 217);
}
