{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <script type="text/javascript" src="//platform.linkedin.com/in.js">
          api_key: 77hncv61m96quy
          authorize: true
          onLoad: onLinkedInLoad
          scope: r_basicprofile r_emailaddress rw_company_admin
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'ceeses/fitur2.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />

    </head>
    <body class="uk-background-muted">
        <div class="head">
            <h1 id="judul"></h1>
            <button class="uk-button-danger" name="button" onclick="logout()">Log Out</button>
            <hr class="uk-divider-icon">

        <div id="profileData">
            <div id="picture"></div>
            <div class="buttonPlacement">
             <button class="uk-button-primary uk-button-large">Lihat Forum</button>
             <button class="uk-button-primary uk-button-large">Cari Mahasiswa</button>
            </div>
            </div>
            <div class="uk-card uk-card-secondary" id="info">
                <p id="companyName"></p>
                <p id="description"></p>
                <p id="companyType"></p>
                <p id="website"></p>
                <p id="specialties"></p>
            </div>
        </div>
    </body>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/extras/loadingoverlay_progress/loadingoverlay_progress.min.js" ></script>
        <script src="{% static 'js/fitur2.js' %}"></script>

        </script>
    </footer>
</html>
